.cardContainer {
    max-width: 92%;
    min-height: 160px;
    max-height: 160px;
    padding: 5% 5% 5% 5%;
    margin: 0% 4% 0% 4%;
    box-sizing: border-box;
    background-color: #F8FAFF;
    border-radius: 15px;
    box-shadow: 2px 4px 10px rgb(37, 37, 37);
    color: #27446E;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardContainer span:hover {
    cursor: pointer;
}

.cardInfo {
    width: 100%;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.cardInfo p {
    font-size: 13px;
    font-weight: 600;
}

.enviarCard {
    display: flex;
    gap: 5%;
}

.enviarCard button {
    padding: 1% 0% 1% 0%;
    width: 45%;
    border-radius: 10px;
    border-style: none;
    background-color: #27446E;
    color: #F8FAFF;
    font-weight: 600;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.cardActionIcons {
    display: flex;
    justify-content: center;
    gap: 6%;
}

.cardActionIcons span {
    border: 2px solid #27446E;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 600;
}